<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <link rel="stylesheet" href="./styles.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <h1>Hello Vue</h1>
    <div id="app">
        <!-- 
            creating the template directly which can be used to change values
            in the template dynamically by using Vue
        -->
        <!-- <h2>I am a template</h2> -->

        <!-- Instead of hardcoding a property, the value can be dynamically inserted by writing the property name that matches that in the app.js file in double curly braces-->
        <p>{{ title }} by {{ author }}, published in the year {{ publicationYear }}.</p>
        <!-- Outputs> 1984 by George Orwell, 1949. -->
        <!-- 
            Creating click events 
            1. create a button
            2. create a directive called v-on; v is for vue and on is for on events like onclick or onmouseover
            3. add a colon :
            4. specify the click event example :click
            5. set some value it to it using double quotes to run a JS code, this code will run whenever a user clicks on this button
            6. Two methods to carry out this onclick funtion> Inside the template [in the html file] or inside the function [in the app.js file]
            7. For inside the template> 
                a. Write the property name inside the double quotes. Curly braces are not needed as it is JS code and we don't have to print the value
                b. write ++ to increment the value by 1
                c. Also can be done for decreasing the age by using --
            8. Because we react to event so much, the Vue team made a shotrcut for it called @. So v-on can be replaced by @ and it means the same thing
            9. Second menthod> Firing a click event inside the data function [shown in app.js file]    
        -->
        <button v-on:click="publicationYear++">Increase Year of Publication </button>
        <button v-on:click="publicationYear--">Decrease Year of Publication </button>
            
        <!-- Click events can also be fired on elements other than a button -->
        <div @click="title = 'Harry Potter and the Goblet of Fire'">Change book title</div>
        
        <!-- Click event by data function -->
        <div @click="changeAuthor">Change Author</div>

        <!-- Passing arguments onto the funtion -->
        <div @click="changeYear('2000')">Change Year</div>

        <!-- After firing all the click functions the output looks like this : Harry Potter and the Goblet of Fire by J.K. Rowling, published in the year 2000. -->
    
        <!--
            Conditional rendering
                1. very easy in vue, [v-if=""] is the syntax
                2. true shows the heading, false does not show the heading
        -->
        <h4 v-if="showMessage">I love reading books</h4>
        <!-- 
            In the data function,
            If showMessage is set to false then the above heading is not shown
            If it is set to true then it is shown
        -->

        <!-- Toggle conditional rendering -->
        <button @click="toggleShowMessage">
            <span v-if="showMessage">Hide Message</span>
            <span v-if="!showMessage">Show Message</span>
            <!-- 
                OR instead of v-if="!showMessage", v-else can be used
                for example
                <span v-else>Show Message</span>
                when the v-if is considered false, it executes v-else 
            -->
        </button>

        <!-- Conditional rendering using v-show -->
        <div v-show="showMessage">Currently showing books</div>

        <!-- 
            Difference between v-show and v-if
                1. It essentially does the same thing, but in a different way
                2. v-if takes out the element from the DOM completely when false, and reinserts it when true
                3. v-show uses CSS. display-block if true or display-none when false
                4. Adding and removing something from DOM is more time consuming and more expensive in terms of performace, tham hiding and showing in CSS
                5. So, if there is content that uses hide/show a lot like drop-down content or nav-links, v-show would be better but up to the coder
         -->


         <!-- Mouse events -->
         <div class="box" @mouseover="handleEvent">mouse over</div>
         <div class="box" @mouseleave="handleEvent">mouse leave</div>
         <div class="box" @dblclick="handleEvent">double click</div>
         <div class="box" @mousemove="handleMouseMove">position {{ x }} - {{ y }}</div>
    </div>
    
    <br>
    <!-- Outputting Lists [contd. in list.js] -->
    <div id="list">
        <h2>List of winx fairies</h2>
        <ul>
            <li v-for="fairy in fairies">
                <h3>{{ fairy.name }}</h3>
                <p>{{ fairy.colour }}</p>
            </li>
        </ul>
    </div>
    <script src="./app.js"></script>
    <script src="./list.js"></script>
</body>
</html>